ai_studio_code.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enquiry-trigger",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "enquiry-trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineAcrossManyFields",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Message": "={{ $json.body.message }}",
            "Date": "={{ $now }}"
          }
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Thank you for your enquiry!",
        "emailType": "text",
        "body": "=Hi {{ $json.body.name }},\n\nThank you for reaching out to us. We have received your message regarding: \"{{ $json.body.message }}\". Our team will get back to you shortly.",
        "appendAttributions": false
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}